
.container{
    background-color:yellow;
    display: flex;
    height: 100px;
    justify-content: end;
    flex-direction: row;
    align-items: center;

}

.boxgreen{
    background-color: green;
    position: relative;
    width:30px;
    height:30px;
    margin: 4px;
    right: 25px;

}

.boxblue{

    background-color: aqua;
    height: 300px;
    width: 400px;
    position: relative;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.boxbrown{

    background-color: brown;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.boxpurple{

    background-color: purple;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
}

.text{

    position: relative;
    top: 20px;
    left: 20px;
    margin-left: 20px;

}

#Willkommen{

    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px; 

}